<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="7zip"/>
    <package id="GoogleChrome"/>
    <package id="microsoft-edge"/>
    <package id="notepadplusplus.install"/>
    <package id="vscode"/>
    <package id="dotnet-6.0-sdk"/>
    <!-- <package id="remoteapp"/> -->
    <package id="winmerge"/>
    <package id="msbuild-structured-log-viewer"/>
</packages>
