<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="7zip"/>
    <package id="GoogleChrome"/>
    <package id="microsoft-edge"/>
    <package id="notepadplusplus.install"/>
    <!-- <package id="notepadplusplus.settings"
        installArguments="-params 'url=https://AxxonDevTeam@dev.azure.com/AxxonDevTeam/AxxonDevTools/_git/ChocolateyRecomendedApps/NotepadppSettings' -u JTorino -p 3xgcmg3hugpio5riz5fmkwcohwkr4sggg4l7zju3wqgh52ebcwoa -Force"
    /> -->
</packages>
